# Исключаем сгенерированные файлы и временные директории
target/
*.log
orders.db
.idea/
*.iml
.classpath
.project
.settings
.springBeans
.sts4-cache
.factorypath
.apt_generated
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/

# Исключаем файлы сборки, но сохраняем исходный код
build/
!**/src/main/**/build/
!**/src/test/**/build/